
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<form method="post" action="/Producto/Create">
    <label for="codigo"> </label>
    <input type="number" name="codigo" />
    <br />
    <label for="nombre">Nombre</label>
    <input type="text" name="nombre" />
    <br />
    <label for="descripcion">Descripcion</label>
    <input type="text" name="descripcion" />
    <br />
    <button type="submit">Guardar</button>
    <br />
</form>