@using LPPA_Ejercicios.Helper;
@model IList<Producto>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    <a href="/Producto/Create">Nuevo Producto</a>
</p>

<table>
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Codigo</th>
            <th>Descripción</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
    @foreach (Producto item in Model)
    {
        <tr>
            <td> @item.Nombre</td>
            <td> @item.Codigo</td>
            <td> @item.Descripcion</td>
        </tr>
     }

</table>